.chatBox {
  padding: 8px;
}

.multileBox {
  padding: 8px;
  display: flex;
  justify-content: center;
  height: 48px;
}

.sup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}